html, body{
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100vh;
    background: #f0f0f0;
}

/* css cho phan Header */
.header{
	width: 100%;
	height: 53px;
	background: #fed700;
    min-width: 1024px;
    margin-bottom: 10px;
}

.contentHeader{
	width: 85%;
	margin: 0 auto;
    height: 100%;
    min-width: 750px;
    display: flex;
    flex-direction: row;
}

.logo{
	height: 100%;
    width: 35%;
    background: black;
    position: relative;
	max-width: 430px;
	min-width: 430px;
}
.avartar{
	height: 29px;
    width: 30px;
    background: url(../image/icon.png);
    background-size: 535px 100px;
    position: absolute;
    top: 12px;
    left: 13px;
}
.title{
	height: 30px;
    width: 121px;
    background: url(../image/icon.png);
    background-size: 490px 117px;
    background-position-x: -31px;
    position: absolute;
    top: 8px;
    left: 50px;
}
.search{
	position: absolute;
    height: 35px;
    width: 201px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    top: 7px;
    left: 190px;
    padding-left: 18px;
    outline: none;
}
.iconsearch{
	height: 35px;
    width: 35px;
    background: url(../image/icon.png);
    background-position-x: -183px;
    background-size: 586px 116px;
    position: absolute;
	top: 14px;
    right: 26px;
}

.navbar{
    height: 100%;
    width: 66%;
    max-width: 770px;
    min-width: 770px;
    margin-left: 20px;
}

.items{
	width: 85px;
	height: 53px;
	position: relative;
	cursor: pointer;
	float: left;
}

.items:hover{
	background-color: white;
}
.product{
	position: absolute;
	top :2px;
	left: 19px;
	background: url(../image/icon.png);
}
.phone{
	background-position-x: -211px;
	background-size: 586px 116px;
	width: 33px;
	height: 35px;
}
.tablet{
	width: 40px;
    height: 35px;
    background-position-x: -244px;
    background-size: 586px 116px;
}

.Laptop{
	width: 49px;
    height: 35px;
    background-position-x: -286px;
    background-size: 586px 116px;
}

.phukien{
	width: 36px;
    height: 35px;
    background-position-x: -333px;
    background-size: 586px 116px;
}
.watch{
    width: 37px;
    height: 38px;
    background-position-x: -1201px;
    background-position-y: 63px;
    background-size: 702px;
}
.older{
	width: 47px;
    height: 35px;
    background-position-x: -368px;
    background-size: 586px 116px;
}
.technology{
    width: 43px;
    height: 35px;
    background-position-x: -509px;
    background-size: 586px 116px;
}
.cart{
    width: 41px;
    height: 37px;
    background-position-x: -361px;
    background-position-y: 243px;
    background-size: 687px;
}
.countitem{
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 34px;
    font-size: small;
    font-family: monospace;
}
.items  a{
	position: absolute;
	bottom: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
	font-weight: 300;
    font-size: 12px;
    text-align: center;
}
.sim{
    width: 30px;
    height: 35px;
    background-position-x: -412px;
    background-size: 586px 116px;
}

.aphone{
    left: 5px;
}
.atablet{
    left: 18px;
}
.alaptop{
    left: 21px;
}
.aphukien, .awatch, .aolder{
    left: 10px;
}
.ahelp{
    left: 16px;
}
.atechnology{
    left: 5px;
}
.asim{
    left: 12px;
}

/* CSS FOR BUTTON SCROLL TO TOP */
.vedau{
    position: fixed;
    right: 14px;
    bottom: 40px;
    width: 35px;
    height: 45px;
    border-radius: 6px;
    background: #fed700;
    cursor: pointer;
}
.scroll{
    position: relative;
    width: 35px;
    height: 45px;
}
.scroll::before{
    content: "";
    position: absolute;
    top: 18px;
    left: 8px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid black;
}
.anScroll{
    display: none;
}
/* Xong CSS FOR BUTTON SCROLL TO TOP */

/* CSS FOR BODY */

.container{
    width: 85%;
    margin: 0 auto;
    height: 800px;
    max-width: 85%;
    min-width: 1024px;
}

.advant{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f0f0f0;
}
.slide-advant{
    width: 65%;
    height: 100%;
}
.slidegraper{
    width: 100%;
    height: 75%;
    position: relative;
    overflow: hidden;
}
.sile, .slide ul, .slide ul li{
    width: 100%;
    height: 100%;
}
.slide ul{
    margin: 0;
    list-style: none;
}
.slide ul li{
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.slide ul .vewing{
	opacity: 1;
}

.slideHienThi{
    animation: divao 1s forwards;
}
.slideBienMat{
    animation: bienmat 1s forwards;
}


.menuslide{
    width: 100%;
    height: 25%;
    background: white;
}
.infosile, .infosile ul{
    width: 100%;
    height: 100%;
}
.infosile ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.infosile ul li{
    height: 100%;
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.infosile ul li:hover{
    background: #efe6e6;
}
.infosile ul li >a {
    text-decoration: none;
    font-size: 11px;
    vertical-align: middle;
    font-family: sans-serif;
    color: black;
    display: table-cell;
}
.infosile ul .Stronging{
    font-weight: 700;
    font-size: 12px;
}
/* CSS FOR NEWS */
.news{
    width: 34%;
    height: 100%;display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.news-technolog{
    width: 100%;
    height: 32%;
    background: white;
    
}

.head-news-technolog{
    width: 100%;
    height: 33%;
    position: relative;
    border-bottom: 1px solid #afa7a7;
}
.news-p{
    width: 42%;
    height: 100%;
    position: relative;
    display: block;
    max-width: 417px;
    background: #fed700;
}
.news-p > p{
    position: absolute;
    top: 15px;
    left: 14px; 
    text-transform: uppercase;
    color:black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.news-p::after{
    content: "";
    position: absolute;
    left: 42px;
    width: 118px;
    height: 0;
    border-top: 22px solid transparent;
    border-right: 15px solid white;
    border-bottom: 24px solid transparent;

}
#notifi{
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    left: 178px;
    top: 18px;
    border-radius: 100%;
    animation: bigsize 1.5s infinite;
}
#notifi .ping{
    border: 1px solid #f33;
    width: 10px;
    height: 10px;
    opacity: 1;
    border-radius: 100%;
    background-color: rgba(238,46,36,.2);
    animation: pingBall 1.5s infinite;
    display: block;
    margin: -1px 0 0 -1px;
}
.khuyenmai{
    color: #f33;
    font-size: 12px;
    position: absolute;
    top: 16px;
    right: 17px;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.khuyenmai > strong{
    color: dodgerblue;
}
.content-news-technolog{
    width: 100%;
    height: 66%;
    position: relative;
}
.content-news-technolog > img{
    position: absolute;
    top:12px;
    left: 2px;
}

.content-news-technolog .infoimage{
    font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    outline: none;
    zoom: 1;
    position: absolute;
    top: 18px;
    left: 131px;
    cursor: pointer;    
    color: #333;
    text-decoration: none;
}
.content-news-technolog > a:hover{
    color: dodgerblue;
}
.time{
    font-size: 12px;
    color: #999;
    position: absolute;
    bottom: 10px;
    left: 132px;
    opacity: 0.8;
    font-family: sans-serif;
}

.news-two, .news-three{
    width: 100%;
    height: 32%;
}
.news-two > img, .news-three >img{
    width: 100%;
    height: 100%;
}

.lableAnvant{
    width: 100%;
    height: 75px;
    margin-top: 14px;
}
.lableAnvant >img{
    width: 100%;
}
@-webkit-keyframes bigsize {
   from{
       opacity: 1;
   }
   to{
       opacity: 0.6;
   }
}

@-webkit-keyframes pingBall {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(3);
    }
 }


 @-webkit-keyframes divao{
    from{
		transform: scale(1.5);
		opacity: 0;
	}
	to{
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes bienmat{
    from{
		transform-origin: 100% 100%;
		transform: rotateY(0deg);
		opacity: 1;
	}
	to{
		transform-origin: 100% 100%;
		transform: rotateY(-35deg);
		opacity: 0;
	}
}
 